[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Devidify
Type=Application
Terminal=false
Exec=devidify
Icon=/usr/share/icons/gnome/scalable/devices/media-optical.svg
Comment=Extract audio from your DVDs
Categories=GNOME;GTK;Application;AudioVideo;
GenericName[en_US]=
